/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SiegeOfCranes implementation : © Brock Turner <brocam@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * siegeofcranes.css
 *
 * SiegeOfCranes stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (siegeofcranes_siegeofcranes.tpl), and to HTML elements you create dynamically
    (in siegeofcranes.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


#table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.center {
    display: flex;
}

.expand {
    flex-grow: 1;
}

.card_wrap {
    width: 30%;
}

.card {
    border-radius: 8px;
    width: 100px;
    height: 143px;
}

.cardontable {
    position: absolute;
    background-image: url('img/cards.jpg');
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.cardback {
    background-image: url('img/card_back.jpg');
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.whiteblock {
    margin-left: 10px;
    margin-right: 10px;
}

.token {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-radius: 50%;
}
